<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.yourtechstory.com%2Fwp-content%2Fuploads%2F2019%2F08%2Fsql.png&f=1&nofb=1&ipt=0c237d2032331197caeecc61d4d0d2b472d97e5dadf9c878b64dca91c4427d86&ipo=images" />

# Question

 

### Consider a library system where you have books, authors, and borrowers. Each book has a title, ISBN, and is written by one or more authors. Each author has a name and a unique author ID. Borrowers have a name, a unique borrower ID, and can borrow multiple books. Each book can be borrowed by multiple borrowers, and a borrower can borrow multiple books. Design an ER diagram for this library system.

# Creating SQL Schema

CREATE TABLE Authors (
    author_id INT PRIMARY KEY,
    name VARCHAR(255) NOT NULL
);





CREATE TABLE Books (
    book_id INT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    isbn VARCHAR(13) NOT NULL,
    PRIMARY KEY (book_id),
    FOREIGN KEY (author_id) REFERENCES Authors(author_id)
);







CREATE TABLE Borrowers (
    borrower_id INT PRIMARY KEY,
    name VARCHAR(255) NOT NULL
);







CREATE TABLE BorrowedBooks (
    borrow_id INT PRIMARY KEY,
    book_id INT,
    borrower_id INT,
    borrow_date DATE,
    return_date DATE,
    FOREIGN KEY (book_id) REFERENCES Books(book_id),
    FOREIGN KEY (borrower_id) REFERENCES Borrowers(borrower_id)
);

This schema includes tables for Authors, Books, Borrowers, and BorrowedBooks. The BorrowedBooks table is a junction table to represent the many-to-many relationship between books and borrowers. It also includes borrow and return dates for tracking borrowing history.

In [2]:
INSERT INTO Authors (author_id, name) VALUES (1, 'John Doe');
INSERT INTO Books (book_id, title, isbn, author_id) VALUES (1, 'Sample Book', '1234567890123', 1);
INSERT INTO Borrowers (borrower_id, name) VALUES (1, 'Jane Smith');
INSERT INTO BorrowedBooks (borrow_id, book_id, borrower_id, borrow_date, return_date) VALUES (1, 1, 1, '2023-01-01', NULL);

SyntaxError: invalid syntax (3803063207.py, line 1)

In [3]:
SELECT * FROM Authors;
SELECT * FROM Books;
SELECT * FROM Borrowers;
SELECT * FROM BorrowedBooks;

SyntaxError: invalid syntax (2652068240.py, line 1)

In [4]:
UPDATE BorrowedBooks SET return_date = '2023-02-01' WHERE borrow_id = 1;

SyntaxError: invalid syntax (3653973338.py, line 1)

In [5]:
UPDATE BorrowedBooks SET return_date = '2023-02-01' WHERE borrow_id = 1;

SyntaxError: invalid syntax (3653973338.py, line 1)

## SELECT with WHERE clause:

In [6]:
-- Retrieve books written by a specific author
SELECT * FROM Books WHERE author_id = 1;

SyntaxError: invalid syntax (3400597460.py, line 1)

# SELECT with AND condition:

In [7]:
-- Retrieve books borrowed by a specific borrower and not yet returned
SELECT * FROM BorrowedBooks WHERE borrower_id = 1 AND return_date IS NULL;

SyntaxError: invalid syntax (4145718829.py, line 1)

# Join in SQL



<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatisticsglobe.com%2Fwp-content%2Fuploads%2F2021%2F12%2FJoins-Theory.png&f=1&nofb=1&ipt=6cac478231480161e7397ed3ecfe0e0d8f688f0bf5f1804eca8e2ee333e4a22a&ipo=images" />

# Inner join

In [8]:
-- Retrieve information about borrowed books along with borrower and book details
SELECT BorrowedBooks.borrow_id, Books.title, Borrowers.name AS borrower_name
FROM BorrowedBooks
INNER JOIN Books ON BorrowedBooks.book_id = Books.book_id
INNER JOIN Borrowers ON BorrowedBooks.borrower_id = Borrowers.borrower_id;

SyntaxError: invalid syntax (2640415192.py, line 1)

# Left Join

In [ ]:
-- Retrieve all books and their borrowers, including books that are not borrowed
SELECT Books.title, Borrowers.name AS borrower_name
FROM Books
LEFT JOIN BorrowedBooks ON Books.book_id = BorrowedBooks.book_id
LEFT JOIN Borrowers ON BorrowedBooks.borrower_id = Borrowers.borrower_id;